<div class="detail-section">
    <div class="container-fluid">
        <img src="{{product.imageUrl}}" class="img-responsive" />
        <h1> {{product.name}} </h1>
        <p>Price: {{product.unitPrice | currency:'USD'}}
            <button (click)="addIt(product)" routerLink="/products" type="button" class="btn btn-primary" mdbRipple>Add to cart</button>
        </p>
        <button routerLink="/products" type="button" class="btn btn-secondary" mdbRipple>
            Go Back </button>
        <hr />
        <h4>Description:</h4>
        <p>{{product.description}}</p>
    </div>
</div>